<template>

<content-home></content-home>

</template>

<script>
import contentHome from '../components/HomeComponent.vue'

export default{

    name: 'Home',

    components:{
        contentHome 
    }

}
</script>
<style>
.botaoProcessando{
    
    width: 180px;
    background-color: rgba(255,255,255,1);
    border-color: gray;

}

.botaoAtivo{
    
    width: 180px;

}

.botaoPendente{
    
    width: 180px;
    border-color: #f98d00;

}

.botaoInativo{
    
    width: 180px;

}

.botaoErro{
    
    width: 180px;   

}

.botaoAcoes .btn-secundary{
    background-color: rgba(255,255,255,1);
}

.botaoAcoes .dropdown-toggle::after {
    display:none;
    background-color: rgba(255,255,255,1);
}

.labelForm {

    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

}
</style>
