<template>
<b-container>
   <b-progress :value="75" :max="100" show-progress animated></b-progress>
<vue-good-table
  :columns="columns"
  :rows="rows"
  :search-options="{
    enabled: true,
    placeholder: 'Pesquise seus dados...',
  }"
  :pagination-options="{
    enabled: true,
    position: 'bottom',
    rowsPerPageLabel: 'Registros por página',
    nextLabel: 'Próximo',
    prevLabel: 'Anterior',
    ofLabel: 'de',
  }"
  :selectOptions="{
    enabled: true,
    selectOnCheckboxOnly: true, // only select when checkbox is clicked instead of the row
    selectionInfoClass: 'custom-class',
    selectionText: 'Itens selecionados',
    clearSelectionText: 'Limpar',
  }" styleClass="vgt-table striped">

  <div slot="selected-row-actions">
  <b-button variant="outline-info">Baixar todos.</b-button>
  <b-button variant="outline-info">Ativar/Desativar.</b-button>
  </div>

  <div slot="table-actions">
  <b-button variant="outline-success" v-b-modal.modalCadastro class="botaoAtivo">Cadastrar  <font-awesome-icon icon="check" /></b-button>
  </div>
  
  <template slot="table-row" slot-scope="props">

    <span v-if="props.column.field === 'status'">
      <b-button variant="outline-default" v-if="props.row.status == 'processing'" class="botaoProcessando" disabled>Processando...</b-button> 
      <b-button variant="outline-success" v-if="props.row.status == 'enabled'" class="botaoAtivo" disabled>Ativo</b-button> 
      <b-button variant="outline-warning" v-if="props.row.status == 'pending'" class="botaoPendente" disabled>Pendente</b-button> 
      <b-button variant="outline-default" v-if="props.row.status == 'inactive'" class="botaoInativo" disabled>Inativo</b-button>
      <b-button variant="outline-danger" v-if="props.row.status == 'error'" class="botaoErro" disabled>ERRO</b-button>
    </span>

    <span v-if="props.column.field === 'action'">
    <b-dropdown id="ddown-left" text="..." class="botaoAcoes">
    <b-dropdown-item v-if="props.row.status == 'error'" v-on:click="visualizarErro(props.row.id)">Visualizar Erros</b-dropdown-item>
    <b-dropdown-item href="#" v-if="props.row.status != 'enabled'">Verificar Colunas</b-dropdown-item>
    <b-dropdown-item href="#">Download</b-dropdown-item>
    <b-dropdown-item href="#" v-if="props.row.status == 'enabled'">Desativar</b-dropdown-item>
    </b-dropdown>
    </span>

    <span v-if="props.column.field === 'number_of_entries'">
      {{props.formattedRow[props.column.field]}}
    </span>

    <span v-if="props.column.field === 'user'">
      {{props.formattedRow[props.column.field]}}
    </span>

    <span v-if="props.column.field === 'processing_date'">
      {{props.formattedRow[props.column.field]}}
    </span>

    <span v-if="props.column.field === 'file_name'">
      {{props.formattedRow[props.column.field]}}
    </span>

  </template>
</vue-good-table>

 <b-modal id="modalCadastro" title="Cadastro de novos registros" size="lg" cancel-title="Cancelar" ok-title="Confirmar" @ok="cadastrarNovo">
 
 <b-row>
 <b-col sm="3">
 <label class="labelForm"><strong>Arquivo</strong></label>
 </b-col>
 </b-row>      

 <b-row>
 <b-col sm="12">
 <b-form-file  placeholder="Escolha um arquivo...."></b-form-file>
 </b-col>
 </b-row>
 
 <br>

 <b-row>
 <b-col sm="4">
 <label class="labelForm"><strong>Data de Processamento</strong></label>
 </b-col>
 </b-row>      

 <b-row>
 <b-col sm="12">
 <b-form-input type="date"></b-form-input>
 </b-col>
 </b-row>
 
 <br>

 <b-row>
 <b-col sm="4">
 <label class="labelForm"><strong>Responsável</strong></label>
 </b-col>
 </b-row>      

 <b-row>
 <b-col sm="12">
 <b-form-select id="exampleInput3"
                      :options="responsaveis"
                       required>
 </b-form-select>
 </b-col>
 </b-row>

 <br>

 <b-row>
 <b-col sm="6">
 <label class="labelForm"><strong>Nº Registros</strong></label>
 </b-col>
 </b-row>      

 <b-row>
 <b-col sm="12">
 <b-form-input type="number"></b-form-input>
 </b-col>
 </b-row>
 </b-modal>

 <b-modal ref="modalVisualizarErro" hide-footer title="Mensagem de erro">
 <div class="d-block text-center">
 <li v-for="erro in this.objetoItem.errors">
    {{ erro }}
  </li>
 </div>
 <b-btn class="mt-3" variant="outline-danger">Close Me</b-btn>
 </b-modal>

</b-container>
</template>

<script>
import Home from './Home.vue';
export default Home;
</script>